---
layout: default
---

{% if page.repository %}
<meta name="github_repository" content="{{ page.repository }}">
{% endif %}

{% capture overlay_img_path %}{{ page.header.overlay_image | relative_url }}{% endcapture %}

<div class="page__hero{% if page.header.overlay_color or page.header.overlay_image %}--overlay{% endif %}"
     style="{% if page.header.overlay_color %}background-color: {{ page.header.overlay_color | default: 'transparent' }};{% endif %} {% if overlay_img_path %}background-image: {% if overlay_filter %}{{ overlay_filter }}, {% endif %}url('{{ overlay_img_path }}');{% endif %}"
>
    <div class="wrapper">
        <h1 id="page-title" class="page__title" itemprop="headline">
            {{ page.title | default: site.title | markdownify | remove: "<p>" | remove: "</p>" }}
        </h1>

        {% include page__meta.html %}
    </div>
</div>

<div id="main" role="main">


    <div class="project__info">
        <h3>Info</h3>

        {% if page.excerpt %}
        <div class="project__description p-note">
            {{ page.excerpt | markdownify }}
        </div>
        {% endif %}

        {% if page.repository.name and page.repository.owner %}
        <div class="project__shields-wrapper">
            <ul class="project__shields">
                <li><a href="https://github.com/{{ page.repository.owner }}/{{ page.repository.name }}/watchers"><img src="https://img.shields.io/github/watchers/{{ page.repository.owner }}/{{ page.repository.name }}.svg?style=social&label=Watchers&maxAge=2592000"></a></li>
                <li><a href="https://github.com/{{ page.repository.owner }}/{{ page.repository.name }}/stargazers"><img src="https://img.shields.io/github/stars/{{ page.repository.owner }}/{{ page.repository.name }}.svg?style=social&label=Stars&maxAge=2592000"></a></li>
                <li><a href="https://github.com/{{ page.repository.owner }}/{{ page.repository.name }}/network/members"><img src="https://img.shields.io/github/forks/{{ page.repository.owner }}/{{ page.repository.name }}.svg?style=social&label=Fork&maxAge=2592000"></a></li>
            </ul>
        </div>
        {% endif %}

        <div class="project__urls-wrapper">
            <ul class="project__urls">
                {% if page.project-site %}
                <li><a href="{{ page.project-site }}" rel="nofollow noopener noreferrer me"><i class="fas fa-fw fa-globe" aria-hidden="true"></i><span class="label">Project page</span></a></li>
                {% endif %}

                {% if page.repository %}
                <li id="project__repository"><a href="https://github.com/{{ page.repository }}" rel="nofollow noopener noreferrer me"><i class="fab fa-fw fa-github" aria-hidden="true"></i><span class="label">Source code</span></a></li>
                {% endif %}

                {% if page.repository %}
                <li id="project-license"><i class="fas fa-fw fa-file-contract" aria-hidden="true"></i><span class="label">License: <span>unknown</span></span></li>
                {% endif %}

                {% if page.repository %}
                <li id="project-version"><i class="fas fa-fw fa-code-branch" aria-hidden="true"></i><span class="label">Version: <span>unknown</span></span></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <article class="splash" itemscope itemtype="https://schema.org/CreativeWork">
        {% if page.title %}<meta itemprop="headline" content="{{ page.title | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.excerpt %}<meta itemprop="description" content="{{ page.excerpt | markdownify | strip_html | strip_newlines | escape_once }}">{% endif %}
        {% if page.date %}<meta itemprop="datePublished" content="{{ page.date | date_to_xmlschema }}">{% endif %}
        {% if page.last_modified_at %}<meta itemprop="dateModified" content="{{ page.last_modified_at | date_to_xmlschema }}">{% endif %}

        <div class="page__inner-wrap">
        <section class="page__content" itemprop="text">
            {{ content }}
        </section>
        </div>
    </article>
</div>
