---
layout: default
---

<style type="text/css" media="screen">
    .container {
        margin: 10px auto;
        padding: 10px 20px;
        max-width: 600px;
        text-align: center;
    }
    .teapot {
        width: 60%;
    }
</style>

<div class="container">
    <img src="/assets/images/teapot.svg" class="teapot">
    <p><strong>Sorry, I'm a teapot.</strong></p>
    <p>Currently the server is not able to brew coffee, because the required coffee pot is not yet constructed... but I provided a stylish teapot.</p>
    <p>So... take a cup of tea <i class="fas fa-mug-hot"></i> and come back later. Maybe then I will have finished this page.</p>
</div>
